body{
  margin:0 0 55px 0;

}
.nav{
  position:fixed;
  bottom:0;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background-color: #3e3e3e;
  display: flex;
  overflow: auto;

}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: monospace;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  webkit-tap-highlight-color: transparent;
  transition: background-color .1s ease-in-out;

}

.nav__link:hover{
  background-color: #eeeeee;

}

.navbar-brand{
  position: relative;
  font-family: monospace;
  overflow: auto;
}


.navbar-navbar_expand{
  display: flex;
  align-items:baseline;

}
.collapse navbar-collapse{
  position: fixed;
  bottom:0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #343a40;
  display: flex;
  overflow: auto;

}

.nav-link{
  text-align:center;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: monospace;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  webkit-tap-highlight-color: transparent;
  transition: background-color .1s ease-in-out;
}

h1{
  overflow: auto;
  width: 100%;
}

img{
  max-width: 100%;
}

.image{
  flex-basis: 40%;
}



.container_mail{
  border-style: solid;
  border-color: white;
  border-width: 5px;



}

p{
  font-size: 15pt;
  font-family: monospace;
  color: #ffffff;
}



.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.9;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




@media only screen and (max-width: 600px){


}

.column_icon{
  float: left;
  width: 16.66%;
  padding: 5px;


}
.row_icon{
  content: "";
  clear: both;
  display: table;


}

img{
  max-width: 100%;
  max-height: 100%;

}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.me {
  overflow: auto;
  text-align: center;
  font-size: 30pt;
  font-family: monospace;
  color: #ffffff;
}

div.sj {
  overflow: auto;
  text-align: center;
  font-size: 12pt;
  font-family: monospace;
  color: #ffffff;
}
div.email {
  overflow: auto;
  text-align: center;
  font-size: 12pt;
  font-family: monospace;
  color: #ffffff;
}

div.summary {
  margin-left: 10px;
  overflow: auto;
  text-align: left;
  font-size: 35pt;
  font-family: monospace;
  color: #ffffff;
}

div.sum {
  margin-left: 10px;
  overflow: auto;
  text-align: left;
  font-size: 16pt;
  font-family: monospace;
  color: #ffffff;
}

div.skill{
  margin-left: 10px;
  overflow: auto;
  text-align: left;
  font-size: 35pt;
  font-family: monospace;
  color: #ffffff;
}

div.list {
  margin-left: 10px;
  overflow: auto;
  text-align: left;
  font-size: 16pt;
  font-family: monospace;
  color: #ffffff;
}

div.software{
  margin-left: 10px;
  overflow: auto;
  text-align: left;
  font-size: 35pt;
  font-family: monospace;
  color: #ffffff;
}

.column_software{
  width: 250px;
  margin: 10px;


}
.row_software{
  content: "";
  clear: both;
  display: flex;
  justify-content: center;


}

.container_about{

  border-style: solid;
  border-color: white;
  border-width: 4px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
  font-size: 35pt;
  font-family: monospace;
  color: #ffffff;
}

.column_about {
  float: left;
  width: 50%;
  padding: 15px;
}


.row_about {
  content: "";
  clear: both;
  display:flex;
}

.container_contact{

  border-style: solid;
  border-color: white;
  border-width: 4px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
  font-family: monospace;
  color: #ffffff;
}

.contact_text{
  font-size: 60px;
}

.container_begin{
  border-style: solid;
  border-color: white;
  border-width: 4px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
  font-family: monospace;
  color: #ffffff;
}

.container_freelance{
  border-style: solid;
  border-color: white;
  border-width: 4px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
  font-family: monospace;
  color: #ffffff;
}

.container_3-d{
  border-style: solid;
  border-color: white;
  border-width: 4px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
  font-family: monospace;
  color: #ffffff;
}
