body{
  margin:0 0 55px 0;
}
.nav{
  position:fixed;
  bottom:0;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background-color: #3e3e3e;
  display: flex;
  overflow: auto;

}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: monospace;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  webkit-tap-highlight-color: transparent;
  transition: background-color .1s ease-in-out;

}

.nav__link:hover{
  background-color: #eeeeee;

}

.navbar-brand{
  font-size: 20px;
  font-family: monospace;
}


.navbar-navbar_expand{
  display: flex;
  align-items:baseline;

}
.collapse navbar-collapse{
  position: fixed;
  bottom:0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #343a40;
  display: flex;
  overflow: auto;

}

.nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: monospace;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  webkit-tap-highlight-color: transparent;
  transition: background-color .1s ease-in-out;
}

h1{
  font-size: 50px;
  font-family: monospace;
  color:#ffffff;
}

img{
  max-width: 100%;
}

.image{
  flex-basis: 40%;
}

body {
  background-image: url("");
}
